---
id: test-results
title: Automatically obtained and published test results of implementations of Web technologies
activities: []
indicators: []
status: partial
---
e.g. [wpt.fyi](https://wpt.fyi/results/)

At the moment, outside of WPT, test results are normally collected only at precise time of the development of technologies.
